################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebClient/.vs/*
/WebClient/WebClient/bin/
/WebClient/WebClient/obj/
/AuthService/.vs/*
/AuthService/AuthService/bin/
/AuthService/AuthService/obj/
/CatalogService/.vs/*
/CatalogService/CatalogService/obj/
/CatalogService/CatalogService/bin/
/CatalogService/.vs/ProjectEvaluation/catalogservice.metadata.v7.bin
/CatalogService/.vs/ProjectEvaluation/catalogservice.projects.v7.bin
/CatalogService/CatalogService/obj/Debug/net8.0/CatalogService.csproj.CoreCompileInputs.cache
/WebClient/WebClient/Properties/launchSettings.json
/WebClient/.vs/WebClient/DesignTimeBuild/.dtbcache.v2
/WebClient/.vs/WebClient/v17/DocumentLayout.json
