################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebClient/.vs/WebClient/FileContentIndex
/WebClient/.vs/WebClient/v17/.suo
/WebClient/WebClient/obj/Debug/net8.0/project.razor.vs.bin
/WebClient/WebClient/obj/Debug/net8.0/WebClient.AssemblyInfo.cs
/WebClient/WebClient/obj/Debug/net8.0/WebClient.AssemblyInfoInputs.cache
/WebClient/WebClient/obj/Debug/net8.0/WebClient.assets.cache
/WebClient/WebClient/obj/Debug/net8.0/WebClient.GeneratedMSBuildEditorConfig.editorconfig
/WebClient/WebClient/obj/project.assets.json
/WebClient/WebClient/obj/project.nuget.cache
/WebClient/WebClient/obj/WebClient.csproj.nuget.dgspec.json
/AuthService/.vs/AuthService/FileContentIndex
/AuthService/.vs/AuthService/v17/.suo
/AuthService/.vs/AuthService/v17/DocumentLayout.json
/AuthService/AuthService/bin/Debug/net8.0/AuthService.dll
/AuthService/AuthService/bin/Debug/net8.0/AuthService.exe
/AuthService/AuthService/bin/Debug/net8.0/AuthService.pdb
/AuthService/AuthService/obj/Debug/net8.0/ref/AuthService.dll
/AuthService/AuthService/obj/AuthService.csproj.nuget.dgspec.json
/AuthService/AuthService/obj/Debug/net8.0/apphost.exe
/AuthService/AuthService/obj/Debug/net8.0/AuthService.AssemblyInfo.cs
/AuthService/AuthService/obj/Debug/net8.0/AuthService.AssemblyInfoInputs.cache
/AuthService/AuthService/obj/Debug/net8.0/AuthService.assets.cache
/AuthService/AuthService/obj/Debug/net8.0/AuthService.csproj.FileListAbsolute.txt
/AuthService/AuthService/obj/Debug/net8.0/AuthService.dll
/AuthService/AuthService/obj/Debug/net8.0/AuthService.GeneratedMSBuildEditorConfig.editorconfig
/AuthService/AuthService/obj/Debug/net8.0/AuthService.genruntimeconfig.cache
/AuthService/AuthService/obj/Debug/net8.0/AuthService.pdb
/AuthService/AuthService/obj/Debug/net8.0/AuthService.sourcelink.json
/AuthService/AuthService/obj/Debug/net8.0/refint/AuthService.dll
/AuthService/AuthService/obj/project.assets.json
/AuthService/AuthService/obj/project.nuget.cache
/CatalogService/CatalogService/obj/CatalogService.csproj.nuget.dgspec.json
/CatalogService/CatalogService/obj/Debug/net8.0/CatalogService.AssemblyInfo.cs
/CatalogService/CatalogService/obj/Debug/net8.0/CatalogService.AssemblyInfoInputs.cache
/CatalogService/CatalogService/obj/Debug/net8.0/CatalogService.assets.cache
/CatalogService/CatalogService/obj/Debug/net8.0/CatalogService.GeneratedMSBuildEditorConfig.editorconfig
/CatalogService/CatalogService/obj/project.assets.json
/CatalogService/CatalogService/obj/project.nuget.cache
/CatalogService/.vs/CatalogService/v17/.suo
/CatalogService/.vs/CatalogService/FileContentIndex/c4d2fc95-a125-4144-9b82-3cfa0e2defa1.vsidx
/AuthService/.vs/ProjectEvaluation/authservice.metadata.v7.bin
/AuthService/.vs/ProjectEvaluation/authservice.projects.v7.bin
/AuthService/.vs/AuthService/DesignTimeBuild/.dtbcache.v2
/AuthService/.vs/AuthService/v17/.futdcache.v2
