@using System.Security.Claims
@model PasswordChangeDto

@{
    ViewData["Title"] = "Sign Up";
    string email = User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Email)?.Value ?? default!;
}

<div class="container border p-4 col-lg-5">
    <form method="post" class="m-3">
        <fieldset>
            <legend>Account</legend>
            <hr />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Email field-->
            <div class="form-group col mb-3 p-1">
                <label>Email</label>
                <input class="form-control" value="@email" disabled />
            </div>

            <!-- Password field-->
            <div class="form-group col mb-3 p-1">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" oninput="passwordChanged()" id="originalPassword" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <!-- New password field-->
            <div class="form-group col mb-3 p-1">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" class="form-control" oninput="passwordChanged()" id="newPassword" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <!-- Confirm password field-->
            <div class="form-group col mb-3 p-1">
                <label asp-for="ConfirmNewPassword"></label>
                <input asp-for="ConfirmNewPassword" class="form-control" oninput="passwordChanged()" id="confirmNewPassword" />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary form-control" id="saveButton" disabled>Change Password</button>

        </fieldset>
    </form>
</div>

@section Scripts {
    @{
                <partial name="_ValidationScriptsPartial" />
    }
    <script>
        function passwordChanged() {
            var password = document.getElementById('originalPassword');
            var newPassword = document.getElementById('newPassword');
            var confirmNewPassword = document.getElementById('confirmNewPassword');
            var saveButton = document.getElementById('saveButton');

            if (password.value == '' ||
                newPassword.value == '' ||
                confirmNewPassword.value == '' ||
                newPassword.value != confirmNewPassword.value ||
                password.value == newPassword.value) {
                saveButton.disabled = true;
            }
            else {
                saveButton.disabled = false;
            }
        }
    </script>
}